# SPDX-FileCopyrightText: 2025-present Krys Lawrence <aquarion.5.krystopher@spamgourmet.org>
# SPDX-License-Identifier: AGPL-3.0-only

# Part of the aquarion-libtts library of the Aquarion AI project.
# Copyright (C) 2025-present Krys Lawrence <aquarion.5.krystopher@spamgourmet.org>
#
# This program is free software: you can redistribute it and/or modify it under the
# terms of the GNU Affero General Public License as published by the Free Software
# Foundation, version 3.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License along with
# this program. If not, see <https://www.gnu.org/licenses/>.

# This workflow will install Python dependencies, lint, run tests with a variety of
# Python versions and the build and publish a distribution to (Test)PyPI.
# For more information see:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
# and
# https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

name: ci/cd

on:
  push:
    branches: ["main"]
    paths-ignore:
      - ".vscode/**"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test_and_build:
    name: Test and build
    runs-on: ubuntu-24.04
    outputs:
      test_total: ${{ steps.report.outputs.test_total }}
      accept_total: ${{ steps.report.outputs.accept_total }}
      sec_total: ${{ steps.report.outputs.sec_total }}
      sec_highest: ${{ steps.report.outputs.sec_highest }}
      sec_error: ${{ steps.report.outputs.sec_error }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:
          persist-credentials: false

      - name: Install devbox # Has it's own cache
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "true"
          devbox-version: "0.16.0"

      - name: Restore cached Python runtimes
        uses: actions/cache@v4.3.0
        with:
          key: python-${{ hashFiles('pyproject.toml') }}
          restore-keys: python
          path: |
            .local/share/uv/python
            .local/share/hatch/env/uvenv/.pythons

      - name: Restore cached Python dependencies
        uses: actions/cache@v4.3.0
        with:
          key: dependencies-${{ hashFiles('uv.lock') }}
          restore-keys: dependencies
          path: |
            .local/cache/uv
            .local/cache/pip

      - name: Restore cached pre-commit hooks
        uses: actions/cache@v4.3.0
        with:
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: pre-commit
          path: |
            .local/cache/pre-commit

      - name: Restore cached models
        uses: actions/cache@v4.3.0
        with:
          key: models-${{ hashFiles('.local/cache/huggingface/hub/.locks/**/*.lock')
            }}
          restore-keys: models
          path: |
            .local/cache/huggingface

      - name: Restore mypy's cache
        uses: actions/cache@v4.3.0
        with:
          key: mypy-${{ hashFiles('.local/cache/mypy/**/CACHEDIR.TAG') }}
          restore-keys: mypy
          path: |
            .local/cache/mypy

      - name: Restore mkdocs caches
        uses: actions/cache@v4.3.0
        with:
          key: other-${{ hashFiles('docs/mkdocs.yml', 'uv.lock') }}
          restore-keys: other
          path: |
            .local/cache/mkdocs
            .local/cache/plugin/social/fonts

      - name: Restore cached Trivy DB
        uses: actions/cache@v4.3.0
        with:
          key: trivy-${{ github.run_id }}
          restore-keys: trivy
          path: |
            .local/cache/trivy

      - name: Initialize environment
        run: devbox run init

      - name: Check pre-commit and pre-push hooks
        run: devbox run check pre all

      - name: Check types
        run: devbox run check types

      - name: Check lint
        run: devbox run check lint

      - name: Run tests on all supported Python versions
        run: devbox run check test cover --all

      - name: Run security checks
        run: devbox run check sec

      - name: Run licence checks
        run: devbox run check licences

      - name: Run SBOM check
        run: devbox run check sbom

      - name: Run documentation building check
        run: devbox run check docs

      - name: Run acceptance tests
        run: devbox run check accept cover --ci

      - name: List dependency licences
        run: devbox run report licences

      - name: Summarize dependency licences
        run: devbox run report licences --summary

      - name: Create Actions report
        id: report
        run: |
          export TEST_TOTAL=$(devbox run report coverage test --total --ci)
          export ACCEPT_TOTAL=$(devbox run report coverage accept --total --ci)
          export SEC_TOTAL=$(devbox run report sec total)
          export SEC_HIGHEST=$(devbox run report sec highest)
          [[ "$SEC_HIGHEST" == "HIGH" || "$SEC_HIGHEST" == "CRITICAL" ]] \
            && export SEC_ERROR=true || export SEC_ERROR=false

          echo "test_total=$TEST_TOTAL" >> $GITHUB_OUTPUT
          echo "accept_total=$ACCEPT_TOTAL" >> $GITHUB_OUTPUT
          echo "sec_total=$SEC_TOTAL" >> $GITHUB_OUTPUT
          echo "sec_highest=$SEC_HIGHEST" >> $GITHUB_OUTPUT
          echo "sec_error=$SEC_ERROR" >> $GITHUB_OUTPUT

          echo "### Total test coverage: ${TEST_TOTAL}%" >> $GITHUB_STEP_SUMMARY
          echo "### Total acceptance test coverage: ${ACCEPT_TOTAL}%" >> $GITHUB_STEP_SUMMARY
          echo "### Total vulnerabilities: ${SEC_TOTAL}" >> $GITHUB_STEP_SUMMARY
          echo "### Highest vulnerability severity level: ${SEC_HIGHEST}" >> $GITHUB_STEP_SUMMARY

      - name: Build development distribution packages
        if: ${{ github.event_name == 'push' && ! startsWith(github.ref, 'refs/tags/')
          }}
        run: |
          export AQ_VERSION=$(devbox run hatch version).dev$((16#$(git rev-parse --short HEAD)))
          echo "### Version: ${AQ_VERSION}" >> $GITHUB_STEP_SUMMARY
          devbox run hatch version $AQ_VERSION
          devbox run hatch build

      - name: Build release distribution packages
        if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
          }}
        run: |
          export AQ_VERSION=$(devbox run hatch version)
          echo "### Version: ${AQ_VERSION}" >> $GITHUB_STEP_SUMMARY
          devbox run hatch build

      - name: Store distribution packages
        uses: actions/upload-artifact@v5.0.0
        with:
          name: python-package-distributions
          path: dist/
          if-no-files-found: error
          compression-level: 0
          retention-days: 14

      - name: Store examples
        uses: actions/upload-artifact@v5.0.0
        with:
          name: examples
          path: examples/
          if-no-files-found: error
          retention-days: 14

      - name: Store uv.lock
        uses: actions/upload-artifact@v5.0.0
        with:
          name: uv-lock
          path: uv.lock
          if-no-files-found: error
          retention-days: 14

  smoke_test:
    name: Run smoke tests on build distribution packages
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' }}
    needs: test_and_build
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - name: Restore cached models
        uses: actions/cache@v4.3.0
        with:
          key: models-${{ hashFiles('.local/cache/huggingface/hub/.locks/**/*.lock')
            }}
          restore-keys: models
          path: |
            .local/cache/huggingface

      - name: Download the package distributions
        uses: actions/download-artifact@v6.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Download the examples
        uses: actions/download-artifact@v6.0.0
        with:
          name: examples
          path: examples/

      - name: Download uv.lock
        uses: actions/download-artifact@v6.0.0
        with:
          name: uv-lock

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          check-latest: true
          cache: pip
          cache-dependency-path: uv.lock

      - name: Install aquarion-libtts
        run: |
          export AQ_WHEEL=$(ls dist/aquarion_libtts-*.whl)
          pip install ${AQ_WHEEL}[kokoro] \
            --extra-index-url https://download.pytorch.org/whl/cpu

      - name: Run smoke tests
        run: |
          cd examples
          python --version
          python kokoro_example.py
          test -f play_me.wav

  publish_to_test_pypi:
    name: Publish to Test PyPI
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' }}
    needs: smoke_test
    environment:
      name: testpypi
      url: https://test.pypi.org/p/aquarion-libtts
    permissions:
      id-token: write
    steps:
      - name: Download all the package distributions
        uses: actions/download-artifact@v6.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          print-hash: true

  badges:
    name: Generate badges
    runs-on: ubuntu-24.04
    needs: publish_to_test_pypi
    if: ${{ github.event_name == 'push' }}
    env:
      test_total: ${{ needs.test_and_build.outputs.test_total }}
      accept_total: ${{ needs.test_and_build.outputs.accept_total }}
      sec_total: ${{ needs.test_and_build.outputs.sec_total }}
      sec_highest: ${{ needs.test_and_build.outputs.sec_highest }}
      sec_error: ${{ needs.test_and_build.outputs.sec_error }}
    steps:
      - name: Get repo name
        run: echo "repo_name=${{ github.repository }}" | sed "s/\//_/" >> $GITHUB_ENV

      - name: Create Test Coverage Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 079b402971d82c07d05c74f37c57b088
          filename: ${{ env.repo_name }}__${{ github.ref_name }}__test.json
          label: coverage
          message: ${{ env.test_total }}%
          minColorRange: 50
          maxColorRange: 90
          valColorRange: ${{ env.test_total }}

      - name: Create Acceptance Coverage Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 079b402971d82c07d05c74f37c57b088
          filename: ${{ env.repo_name }}__${{ github.ref_name }}__accept.json
          label: acceptance
          message: ${{ env.accept_total }}%
          minColorRange: 50
          maxColorRange: 80
          valColorRange: ${{ env.accept_total }}

      - name: Create Security Total Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 079b402971d82c07d05c74f37c57b088
          filename: ${{ env.repo_name }}__${{ github.ref_name }}__sec_total.json
          label: vulnerabilities
          message: ${{ env.sec_total }}
          isError: ${{ env.sec_error }}

      - name: Create Security Severity Badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 079b402971d82c07d05c74f37c57b088
          filename: ${{ env.repo_name }}__${{ github.ref_name }}__sec_highest.json
          label: severity
          message: ${{ env.sec_highest }}
          isError: ${{ env.sec_error }}

  publish_to_pypi:
    name: Publish to PyPI
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    needs: badges
    environment:
      name: pypi
      url: https://pypi.org/p/aquarion-libtts
    permissions:
      id-token: write
    steps:
      - name: Download all the package distributions
        uses: actions/download-artifact@v6.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          print-hash: true
